/* .container {
    background-color: black;
    color: azure;
}

.container h1 {
    color: azure;
    text-align: center;
} */

.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.center-box img {
    margin: 25px;
    display: none;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    /* Full border with thickness and color */
    border-radius: 50%;
    /* Makes it perfectly circular */
    object-fit: cover;
    /* Ensures the image fills the circle nicely */
}

.center-box button {
    margin: 10px;
    font-size: medium;
    background-color: rgb(211, 167, 45);
    border-radius: 10px;
}

.center-box button:hover {
    cursor: pointer;
    background-color: rgb(78, 26, 4);
    color: aliceblue;
}

.center-box input {
    font-size: medium;
}